@import url('https://fonts.googleapis.com/css2?family=Cabin+Sketch:wght@700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  input[type=number]::-webkit-inner-spin-button, 
  input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none; 
    margin: 0; 
  }
}

.result-table-cell {
  @apply border border-purple-navy p-3
}

.loader-circle {
  @apply bg-sage p-2 w-4 h-4 rounded-full animate-bounce
}

.info-number {
  @apply bg-deep-koamoru text-azureish-white font-bold w-6 h-6 rounded-full mr-3 flex justify-center items-center p-2;
}

.info-text {
  @apply text-lg font-semibold text-deep-koamoru
}
.info-container {
  @apply flex mt-6 items-center
}

.loader-circle.c1{
  animation-delay: 0.1s;
}
.loader-circle.c2{
  animation-delay: 0.2s;
}
.loader-circle.c3{
  animation-delay: 0.3s;
}